<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title><%= groupName %></title>
    <link rel="stylesheet" href="/styles/chat.css" />
    <script src="/scripts/chat.js" defer></script>
  </head>
  <body>
    <div id="chat-box">

      <div id="chat-title">
        <a id="back-button" href="/home">
          <!-- BACK BUTTON SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#e3e3e3"
          >
            <path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z" />
          </svg>
        </a>
        <h2><%= groupName %></h2>
      </div>

      <!-- 
        "flex-direction=column-reverse" is set so chats needs to be sent in reverse order in which they are stored.
      -->
      <div id="chats">
        <% for (let i=0; i<chats.length; i++) { %>
          <% if (chats[i].sender.id.equals(userId)) { %>          
            <p class="sent"><%= chats[i].text %></p>
          <% } else { %>
            <div class="recieved">
              <p class="sender-name"><%= chats[i].sender.name %></p>
              <p class="text"><%= chats[i].text %></p>
            </div>
          <% } %>
        <% } %>
      </div>

      <form id="user-input" data-group-id="<%= groupId %>" data-user-id="<%= userId %>" data-user-name="<%= userName %>">
        <!-- <div class="input-container"> -->
          <input type="text" placeholder="Type to Message" name="text" id="text" class="effect">
        <!-- </div> -->
        <button>
          <!-- SEND BUTTON SVG -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            width="24px"
            fill="#e3e3e3"
            viewBox="0 -960 960 960"
          >
            <path
              d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"
            />
          </svg>
        </button>
      </form>

    </div>
  </body>
</html>
